.custom-navbar {
  background: #0a2747;
  padding: 12px 0;
}

.navbar-links {
  gap: 40px;
}

.nav-item-link {
  position: relative;

  padding: 10px 18px;

  border-radius: 8px;

  color: white;

  text-decoration: none;

  transition: all 0.3s ease;
}

.nav-item-link:hover {
  color: #4b94e6;
}

.active-link {
  background: linear-gradient(
    180deg,
    #e7ebf0,
    #d0d7e2
  );

  color: #0a2747 !important;

  font-weight: 600;
}

.active-link::after {
  content: "";

  position: absolute;

  left: 0;

  bottom: -6px;

  width: 100%;

  height: 3px;

  border-radius: 3px;

  background: #11a9ff;

  box-shadow: 0 0 8px #11a9ff;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.4);
}

.navbar-toggler-icon {
  filter: invert(1);
}

@media (max-width: 992px) {
  .navbar-links {
    gap: 15px;

    align-items: center;
  }

  .nav-item-link {
    width: 100%;

    text-align: center;
  }
}